.App {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-align: center;
}

button {
    background-color: teal;
    opacity: 0.9;
    cursor: pointer;
    border: none;
    color: #fff;
    margin: 20px;
    padding: 20px;
    font-size: 24px;

}
button:hover {
    opacity: 1;
    box-shadow: 2px 2px 3px rgba(0, 85, 85, 0.223);
}

.customersList {
    width: 300px;
    padding-top: 50px;
    border-top: 2px dotted tan;
    display: flex;
    flex-direction: column;
    font-style: italic;
    margin: 50px auto;;
}

.customers button {
    background-color: tan;
    color: #fff;

}

.customers button:hover {    
    box-shadow: 2px 2px 3px rgba(75, 64, 50, 0.241);
}

.score {
    font-size: 100px;
    color: tan;
    
}

.customer {
    padding: 10px;
    margin: 15px;
    border: 1px dotted tan;
    cursor: pointer;

}

.customer:hover {
    box-shadow: 2px 2px 3px rgba(75, 64, 50, 0.241);
}